.card
{
  width: max-content;
  padding: 5px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  margin: auto;
  margin-top: 5vh;

}
.btnBack
{
  width: max-content;
  padding: 5px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  margin: auto;
  margin-top: 5vh;

}
